In [47]:
import numpy as np 
import pandas as pd 
import plotly.express as px
import enlighten
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from scipy.spatial import distance

## first we preprocess the data, we separate by hour and tokenize the stations

In [49]:
demand=pd.read_csv('./../42Hacks-FlexTrains/generated_demand/demand_1000.csv')
demand['Lat']
demand['Lon']
demand['time_for_walk']=pd.to_datetime(demand['time_for_walk'])
demand['time_for_walk'].map(lambda x: x.hour)

X=np.zeros((demand.shape[0],3))
X[:,0]=demand['Lat'].to_numpy()
X[:,1]=demand['Lon'].to_numpy()
X[:,2]=demand['time_for_walk'].map(lambda x: x.hour)
#now we tokenize 
vectorizer = CountVectorizer()
vectorizer2 = CountVectorizer()
Tokens = vectorizer.fit_transform(demand['id_busStop'])
Y=demand['id_TrainStation']
#to know the tokenization 
#features = vectorizer.get_feature_names()
X_encoded=np.concatenate((X, Tokens.toarray()), axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, Y,random_state=0)

## Now we train the NN mlp

In [50]:
pipe = Pipeline([('scaler', StandardScaler()), ('svc', SVC())])
pipe.fit(X_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()), ('svc', SVC())])

## Now we test the predictions

In [52]:
pipe.score(X_test,y_test)

0.004

In [18]:
demand['time_for_walk'].map(lambda x: x.hour)

0       0
1       0
2       0
3       0
4       0
       ..
995    10
996    10
997    10
998    10
999    10
Name: time_for_walk, Length: 1000, dtype: int64

In [30]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(demand['id_busStop'])
features = vectorizer.get_feature_names()
print(X.toarray().shape)

(1000, 26)

In [8]:
demand.head()

,Unnamed: 0,index,Date/Time,Lat,Lon,Base,id_busStop,id_TrainStation,time_for_walk,time_for_bus
0,0,0,2014-08-01 00:03:00,40.7366,-73.9906,B02512,152_bus_M15-SBS:1,136_subway_C:0,2014-08-01 00:03:00,2014-08-01 00:06:58.175473380
1,1,3,2014-08-01 00:12:00,40.7387,-73.9856,B02512,152_bus_M15-SBS:1,39_subway_N:1,2014-08-01 00:12:00,2014-08-01 00:17:50.227169220
2,2,9,2014-08-01 00:20:00,40.7448,-73.9799,B02512,122_bus_M15:0,41_subway_Q:0,2014-08-01 00:20:00,2014-08-01 00:28:29.057943900
3,3,10,2014-08-01 00:21:00,40.7399,-74.0057,B02512,127_bus_M11:1,29_subway_A:1,2014-08-01 00:21:00,2014-08-01 00:28:40.143447780
4,4,11,2014-08-01 00:25:00,40.7651,-73.9683,B02512,86_bus_Q32:0,154_subway_1:1,2014-08-01 00:25:00,2014-08-01 00:29:55.362038280

array([[ 40.7585, -73.9869,  15.    , ...,   0.    ,   0.    ,   0.    ],
       [ 40.7359, -74.0053,  13.    , ...,   0.    ,   0.    ,   0.    ],
       [ 40.7472, -73.9898,   9.    , ...,   0.    ,   0.    ,   0.    ],
       ...,
       [ 40.7654, -73.9831,  10.    , ...,   0.    ,   0.    ,   0.    ],
       [ 40.756 , -73.9871,   0.    , ...,   0.    ,   0.    ,   0.    ],
       [ 40.7416, -74.0036,  14.    , ...,   0.    ,   0.    ,   0.    ]])